<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="fullName" matInput placeholder="Nome Completo*">
          <mat-error>Este campo é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder=" Email">
          <mat-error>Digite um e-mail válido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Telefone*">
          <mat-error *ngIf="service.form.controls['mobile'].errors?.required">Este campo é obrigatório</mat-error>
          <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">O número de telefone deve conter pelo menos 8 dígitos</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="city" matInput placeholder="Cidade">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="1">Masculino</mat-radio-button>
            <mat-radio-button value="2">Feminino</mat-radio-button>
            <mat-radio-button value="3">Outro</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Departamento">
            <mat-option>Nenhum</mat-option>
            <ng-container *ngFor="let department of departmentService.array">
              <mat-option value="{{department.$key}}">{{department.code}} - {{department.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Data de Admissão">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Empregado(a) Permanente</mat-checkbox>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Cadastrar</button>
          <button mat-raised-button color="warn" (click)="onClear()">Limpar</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>