/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

div.container {
    margin: 0px 40px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

form.normal-form {
    margin: 10px;
}

.controles-container {
    width: 100%;
    padding: 5%;
}

.controles-container > *{
    width: 100%;
    }

    .add-bottom-padding {
        padding-bottom: 10px;
    }

mat-radio-group mat-radio-button {
    margin-left: 6px;
}

.button-row button {
    margin: 5px;
}

snack-bar-container.success {
    background-color: #5cb85c;
    color: #fff;
}

snack-bar-container.notification simple-snack-bar {
    font-size: 18px !important;
    font-weight: bold;
}